extends layout

block content
  div.reveal
    div.slides
      section 
        h1 Build Wars
      section
        h2 Myself
        img(src="/images/profile.jpg", alt="profile picture")
        div
          h4 Ramkumar R ( @r4mkum4r )
          small JS Enthusiast &#38; Consultant
          blockquote
            | Smokes And Shadows
      section
        h2 Agenda
        ul
          li Why?
          li Kitchen Sink
          li Grunt vs Gulp vs Cake vs NPM
          li Configurations
          li Demo ( Task runner + Bower + Yeoman )
          li Custom Plugins
          li Other tools
      section
        section
          h2 Why do we need a Task Runner ?
        section
          h3 Because we are lazy :)
          h3.fragment Just kidding..
        section
          


          
