extends layout

block content
  div.reveal
    div.slides
      section
        h1 Techno Workshop
      section
        h2 Myself
        img(src="/images/profile.jpg", alt="")
        div
          h4 Ramkumar R ( r4mkum4r )
          small JS Enthusiast &#38; Consultant
          blockquote
            | Smokes And Shadows
      section
        h2 Agenda
        ul
          li
            a(href="/es6") ES6 Harmony
          li
            a(href="/buildwars") Build Wars

